{% extends "mem_app/base.html" %}
{% block title %} Bible Memorization {% endblock %}
{% block body %}
    <section>
        <h1>Search the Bible</h1>
        <form action="{% url 'search' firstPage %}" method="GET">
            <input id="search-field" autofocus autocomplete="off" type="text" name="search_q" placeholder="Keyword or Reference"/><!--
            --><button id="btn-search">Search</button>
        </form><br/>
        {% if message %}
            <span class="text-error"> {{ message }}</span>
        {% endif %}
        <div>
            {% if currentPage and not message %}
                {% if currentPage > 1 %}
                    <a href="{% url 'search' page_number=previousPage %}?search_q={{ search_q }}">Prev</a>
                {% endif %}
                <span class="page-nav-text">Page {{ currentPage }} of {{ totalPages }}</span>
                {% if nextPage <= totalPages and totalPages > 1 %}
                    <a href="{% url 'search' page_number=nextPage %}?search_q={{ search_q }}">Next</a>
                {% endif %}
            {% endif %}
            <p></p>
            {% for passage in passages %}
                <div class="passage">
                    <span class="ref">{{ passage.reference }}</span><br/>
                    <span>{{ passage.content }}</span><br/>
                    <button class="btn-add-verse">Memorize</button>
                </div>
                <br/>
            {% endfor %}
            {% if currentPage and not message %}
                {% if currentPage > 1 %}
                    <a href="{% url 'search' page_number=previousPage %}?search_q={{ search_q }}">Prev.</a>
                {% endif %}
                <span class="page-nav-text">Page {{ currentPage }} of {{ totalPages }}</span>
                {% if nextPage <= totalPages and totalPages > 1 %}
                    <a href="{% url 'search' page_number=nextPage %}?search_q={{ search_q }}">Next</a>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <script>
        // add event listeners to all the generated buttons
        const btns = document.getElementsByClassName("btn-add-verse")
        for (let i = 0; i < btns.length; i ++){
            btns[i].addEventListener("click", addVerse);
        }
    
        // send JSON string with verse reference and text to server
        function addVerse(event){
            // get reference and verse text from DOM
            const verseElement = event.target.previousElementSibling.previousElementSibling;
            const text = verseElement.innerHTML;
            const ref = verseElement.previousElementSibling.previousElementSibling.innerHTML;
        
            // setup url and data for the POST request
            url = "{% url 'add_verse' %}";
            const data = {
                "ref": ref,
                "text": text,
                "csrfmiddlewaretoken": Cookies.get("csrftoken")
            };
            
            // send POST request to server
            fetch(url, {
                method: "POST",
                credentials: "include",
                headers: {
                    "X-CSRFToken": Cookies.get("csrftoken"),
                    "Content-type": "application/json",
                    "X-Requested-With": "XMLHttpRequest"
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
            //upon successful response: redirect
            .then(response => {
                window.location.href=`https://the-treasured-word.herokuapp.com/memorize/${response.ref}`;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
{% endblock %}