<!DOCTYPE html>
<html>
    <head>    
        <title id="ref-title">{{ ref }}</title>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <style>
            .verse-to-mem{
                background-color:burlywood;
                padding: 25px;
                width: 40%;
                margin: auto;
            }

            .btnVerseControls{
                width: 110px;
                height: 50px;
            }

            #btnInstructions{
                border: 0px solid white;
                background-color: white;
                cursor: pointer;
                color:rgb(49, 74, 119);
                font-size: 16px;
            }

            #btnInstructions:hover{
                color:cornflowerblue;
            }

            .divVerseControls{
                text-align: center;
            }

            footer div {
                font-size: 9px;
                width: 40%;
                margin: auto;
                color: grey;
            }

            hr {
                width: 75%;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/babel">
            class Verse extends React.Component {
                render() {
                    return(
                        <div>
                            <div className="verse-to-mem">
                                <span>{this.props.reference}</span><br/>
                                <span>{this.props.text}</span>
                            </div>
                            <div className="divVerseControls">
                                <br/>
                                <button onClick={this.props.replaceWords} className="btnVerseControls">Replace Words</button>
                                <button onClick={this.props.removeWords} className="btnVerseControls" id="btnRemoveWords">Remove Words</button><br/>
                                <button onClick={this.instructions} id="btnInstructions">Instructions</button>
                            </div>
                        </div>
                    )
                }

                instructions = () => {
                    alert("Say the verse outloud, or write it down. Then click the 'Remove Words' Button to remove a random number of words. Repeat the process until you can say the entire verse with no words showing.");
                }
            }

            class App extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        ref: document.querySelector("#ref-title").innerHTML,
                        text: "",
                        past_text: "",
                    }

                }

                componentDidMount() {
                    const url = `http://127.0.0.1:8000/verse/${this.state.ref}`;

                    fetch(url)
                        .then(res => res.json())
                        .then(response => {
                            this.setState({
                                text: response.text,
                                //past_text: response.text
                            });
                        })
                        .catch(error => console.error("Error:", error));
                }

                randomInt(min, max) {
                    // return and random integer that is equal to min, or just under max
                    // function from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/random
                    return Math.floor(Math.random() * (max - min) + min);
                }

                removeWords = () => {
                    // blank out reference if all words are already blank
                    if(this.state.text.search(/[^_ ]/) === -1){
                        document.querySelector("#btnRemoveWords").disabled = true;
                        this.setState({
                            ref: "_____________"
                        });
                        return;
                    }

                    const past_text = this.state.text;
                    const verseWords = this.state.text.split(" ");
                    const numOfWords = this.randomInt(1, 5);

                    // remove random number of words (between 1, 5)
                    for(let i = 0; i < numOfWords; i++){
                        const index = this.randomInt(0, verseWords.length);
                        let blank = "";

                        // build a "blank" string same length as the word
                        for (let j = 0; j < verseWords[index].length; j++){
                            blank += "_";
                        }

                        // skip iteration if chosen work is already blank
                        if (verseWords[index].includes("_")) {
                            i--;
                            continue;
                        }

                        // replace word
                        verseWords[index] = blank;

                        // end loop if all words are blank
                        if(verseWords.join("").search(/[^_]/) === -1){
                            break;
                        }
                    }
                    // update state
                    this.setState({
                        text: verseWords.join(" "),
                        past_text: past_text
                    })
                    console.log(this.state.text);
                    console.log(this.state.past_text);
                }

                replaceWords = () => {
                    if(this.state.past_text === ""){
                        return
                    }
                    this.setState({
                        text: this.state.past_text
                    });
                }

                render() {
                    return(
                        <Verse 
                            reference={this.state.ref}
                            text={this.state.text}
                            removeWords={this.removeWords}
                            replaceWords={this.replaceWords}
                        />
                    )
                }
            }

            ReactDOM.render(<App/>, document.querySelector("#app"));
        </script>
    </body><br/><br/><hr/>
    <footer>
        <div>
            <span>
                Unless otherwise indicated, all Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, 
                a publishing ministry of Good News Publishers. Used by permission. All rights reserved. You may not copy or download more than 500 consecutive verses of
                the ESV Bible or more than one half of any book of the ESV Bible.
            </span>
        </div>
    </footer>
</html>