{% extends "mem_app/base.html" %}
{% block title %} Registration {% endblock %}

{% block body %}
<div class="div-main">
    <h1>Register</h1>
    {% if messages %}
        {% for message in messages %}
        <span class="{{ message.tags }}"> {{ message }}</span><br/>
        {% endfor %}
    {% endif %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email Address"><br/>
        <input type="text" name="username" placeholder="Username"><br/>
        <input type="password" name="password" placeholder="Password"><br/>
        <input type="password" name="confirm_pw" placeholder="Confirm Password"></br>
        <button class="btns-login-register">Register</button>
    </form>
    <div class="spacer"></div>
    <span>
        Already have an Account?
        <a class="register-link" href="{% url 'login_view' %}"> Login Here</a>
    </span>
    
</div>
{% endblock %}